@model Reseaarch_Alliances.Models.tbluser

@{
    Layout = null;
}


@using (Html.BeginForm("UpdatePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            <label class="control-label col-md-2">Old Password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" name="Opass" id="Opass" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">New Password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" name="Npass" id="Npass" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}
